/* ==========================================================================
   Grid
   ========================================================================== */

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	width: 100%;
	max-width: 940px;
	min-width: 745px;
	margin: 0 auto;
}

.row .row {
	max-width: 100%;
	min-width: 100%;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.ie7 .row {
   	zoom: 1;
}

.onecol, 
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol {
	margin-right: 2.12765957446809%; /* 20px / 940px */
	float: left;
	min-height: 1px;
}

.row .onecol {
	width: 6.38297872340426%; /* 60px / 940px */
}

.ie9 .row .onecol,
.ie8 .row .onecol {
	width: 6.39297872340426%;
}

.row .twocol {
	width: 14.8936170212766%;/* 140px / 940px */
}

.row .threecol {
	width: 23.40425531914894%; /* 220px / 940px */
}

.row .fourcol {
	width: 31.91489361702128%; /* 300px / 940px */
}

.row .fivecol {
	width: 40.42553191489362%; /* 380px / 940px */
}

.row .sixcol {
	width: 48.93627021276596%; /* 460px / 940px */
}

.row .sevencol {
	width: 57.4468085106383%; /* 540px / 940px */
}

.row .eightcol {
	width: 65.95844680851064%; /* 620px / 940px */
}

.row .ninecol {
	width: 74.46808510638298%; /* 700px / 940px */
}

.row .tencol {
	width: 82.97882340425532%; /* 780px / 940px */
}

.row .elevencol {
	width: 91.48936170212766%; /* 860px / 940px */
}

.row .twelvecol {
	width: 100%; /* 940px / 940px */
	float: left;
}

.onecol, 
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
}

/*
 * Offset
 * Width + Margin
 */

.offset-one {
	margin-left: 8.51063829787234%; /* 80px / 940px */
}

.offset-two {
	margin-left: 17.02127659574468%; /* 160px / 940px */
}

.offset-three {
	margin-left: 25.53191489361702%; /* 240px / 940px */
}

.offset-four {
	margin-left: 34.04255319148936%; /* 320px / 940px */
}

.offset-five {
	margin-left: 42.5531914893617%; /* 400px / 940px */
}

.offset-six {
	margin-left: 51.06382978723404%; /* 480px / 940px */
}

.offset-seven {
	margin-left: 59.57446808510638%; /* 560px / 940px */
}

.offset-eight {
	margin-left: 68.08510638297872%; /* 640px / 940px */
}

.offset-nine {
	margin-left: 76.59574468085106%; /* 720px / 940px */
}

.offset-ten {
	margin-left: 85.1063829787234%; /* 800px / 940px */
}

.offset-eleven {
	margin-left: 93.61702127659574%; /* 880px / 940px */
}

.last {
	margin-right: 0;
}

.ie9 .last,
.ie8 .last {
	float: right;
}


/*
 * Centralizing DIVs
 */

.centered {
	float: none;
	margin: 0 auto;
}

img, object, embed {
	max-width: 100%;
}

img {
	height: auto;
}


/* ==========================================================================
   Tablets
   ========================================================================== */

@media only screen and (max-width: 1024px) {

	body {
		font-size: 0.8em;
		line-height: 1.5em;
	}
	
	}


/* ==========================================================================
   Mobile
   ========================================================================== */

@media handheld, only screen and (max-width: 767px) {

	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}
	
	.row, body,
	.container {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
	.row .onecol, 
	.row .twocol, 
	.row .threecol, 
	.row .fourcol, 
	.row .fivecol, 
	.row .sixcol, 
	.row .sevencol, 
	.row .eightcol, 
	.row .ninecol, 
	.row .tencol, 
	.row .elevencol, 
	.row .twelvecol {
		width: auto;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

}

/* ==========================================================================
   Impressao
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
		orphans: 3;
		widows: 3;
	}
}