/* ==========================================================================
   Grid
   ========================================================================== */

img, 
object, 
embed {
   max-width: 100%;
}

img {
   height: auto;
}

.container {
   padding-left: 20px;
   padding-right: 20px;
}

.row {
   width: 100%;
   max-width: 940px;
   min-width: 755px;
   margin: 0 auto;
}

.row:before,
.row:after {
   content: " ";
   display: table;
}

.row:after {
   clear: both;
}

.ie7 .row {
   zoom: 1;
}

.onecol, 
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol {
   margin-right:20px;
   float: left;
   min-height: 1px;
}

.last { margin-right: 0; }

/* Larguras grid
========================================================================== */

.row .onecol { width:60px; }
.row .twocol { width:140px; }
.row .threecol { width:220px; }
.row .fourcol { width:300px; }
.row .fivecol { width:380px; }
.row .sixcol { width:460px; }
.row .sevencol { width:540px; }
.row .eightcol { width:620px; }
.row .ninecol { width:700px; }
.row .tencol { width:780px; }
.row .elevencol { width:860px; }
.row .twelvecol {
   width:940px;
   float: left;
}

.onecol, 
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       -ms-box-sizing: border-box;
           box-sizing: border-box;
}

 /* Offset | largura + margem
   ========================================================================== */

.offset-one { margin-left: 80px; }
.offset-two { margin-left: 160px; }
.offset-three { margin-left: 240px; }
.offset-four { margin-left: 320px; }
.offset-five { margin-left: 400px; }
.offset-six { margin-left: 480px; }
.offset-seven { margin-left: 560px; }
.offset-eight { margin-left: 640px; }
.offset-nine { margin-left: 720px; }
.offset-ten { margin-left: 800px; }
.offset-eleven { margin-left: 880px; }

/* Centralizando divs
   ========================================================================== */

.centered {
   float: none;
   margin: 0 auto;
}

/* ==========================================================================
   Impressao
   ========================================================================== */

@media print {
   * {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
   }

   a,
   a:visited {
      text-decoration: underline;
   }

   a[href]:after {
      content: " (" attr(href) ")";
   }

   abbr[title]:after {
      content: " (" attr(title) ")";
   }

   .ir a:after,
   a[href^="javascript:"]:after,
   a[href^="#"]:after {
      content: "";
   }

   pre,
   blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
   }

   thead {
      display: table-header-group; /* h5bp.com/t */
   }

   tr,
   img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page {
      margin: 0.5cm;
   }

   p {
      orphans: 3;
      widows: 3;
   }

   h2,
   h3 {
      page-break-after: avoid;
      orphans: 3;
      widows: 3;
   }
}