/* ==========================================================================
   Grid
   ========================================================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
   font-size: 16px;
}

img,
object,
embed {
   max-width: 100%;
   height: auto;
}

object,
embed {
   height: 100%;
}

img {
   -ms-interpolation-mode: bicubic;
}

  /* Grid HTML Classes */
.row {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   margin-bottom: 0;
   max-width: 62.5em;
   *zoom: 1;
}
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row .column,
  .row .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%; }
  .row.collapse .column,
  .row.collapse .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

/* Correções para IE7
   ========================================================================== */
.ie7 *,
.ie7 *:before,
.ie7 *:after {
  behavior: url(/css/boxsizing.htc);
}

.ie7 .row {
  zoom: 1;
}

@media only screen {
  .row .column,
  .row .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .row .small-1 {
    position: relative;
    width: 8.33333%; }

  .row .small-2 {
    position: relative;
    width: 16.66667%; }

  .row .small-3 {
    position: relative;
    width: 25%; }

  .row .small-4 {
    position: relative;
    width: 33.33333%; }

  .row .small-5 {
    position: relative;
    width: 41.66667%; }

  .row .small-6 {
    position: relative;
    width: 50%; }

  .row .small-7 {
    position: relative;
    width: 58.33333%; }

  .row .small-8 {
    position: relative;
    width: 66.66667%; }

  .row .small-9 {
    position: relative;
    width: 75%; }

  .row .small-10 {
    position: relative;
    width: 83.33333%; }

  .row .small-11 {
    position: relative;
    width: 91.66667%; }

  .row .small-12 {
    position: relative;
    width: 100%; }

  .row .small-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .row .small-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .row .small-offset-3 {
    position: relative;
    margin-left: 25%; }

  .row .small-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .row .small-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .row .small-offset-6 {
    position: relative;
    margin-left: 50%; }

  .row .small-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .row .small-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .row .small-offset-9 {
    position: relative;
    margin-left: 75%; }

  .row .small-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none; } }
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 48em) {
  .row .large-1 {
    position: relative;
    width: 8.33333%; }

  .row .large-2 {
    position: relative;
    width: 16.66667%; }

  .row .large-3 {
    position: relative;
    width: 25%; }

  .row .large-4 {
    position: relative;
    width: 33.33333%; }

  .row .large-5 {
    position: relative;
    width: 41.66667%; }

  .row .large-6 {
    position: relative;
    width: 50%; }

  .row .large-7 {
    position: relative;
    width: 58.33333%; }

  .row .large-8 {
    position: relative;
    width: 66.66667%; }

  .row .large-9 {
    position: relative;
    width: 75%; }

  .row .large-10 {
    position: relative;
    width: 83.33333%; }

  .row .large-11 {
    position: relative;
    width: 91.66667%; }

  .row .large-12 {
    position: relative;
    width: 100%; }

  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .row .large-offset-3 {
    position: relative;
    margin-left: 25%; }

  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .row .large-offset-6 {
    position: relative;
    margin-left: 50%; }

  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .row .large-offset-9 {
    position: relative;
    margin-left: 75%; }

  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .small-push-2 {
    left: inherit; }

  .small-pull-2 {
    right: inherit; }

  .small-push-3 {
    left: inherit; }

  .small-pull-3 {
    right: inherit; }

  .small-push-4 {
    left: inherit; }

  .small-pull-4 {
    right: inherit; }

  .small-push-5 {
    left: inherit; }

  .small-pull-5 {
    right: inherit; }

  .small-push-6 {
    left: inherit; }

  .small-pull-6 {
    right: inherit; }

  .small-push-7 {
    left: inherit; }

  .small-pull-7 {
    right: inherit; }

  .small-push-8 {
    left: inherit; }

  .small-pull-8 {
    right: inherit; }

  .small-push-9 {
    left: inherit; }

  .small-pull-9 {
    right: inherit; }

  .small-push-10 {
    left: inherit; }

  .small-pull-10 {
    right: inherit; }

  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none; } }