/* ==========================================================================
   Grid
   ========================================================================== */

.container {
   padding-left: 10px;
   padding-right: 10px;
}

.row {
   width: 100%;
   max-width: 1170px;
   min-width: 745px;
   margin: 0 auto;
}

.row .row {
   max-width: 100%;
   min-width: 100%;
}

.row:before,
.row:after {
   content: " ";
   display: table;
}

.row:after {
   clear: both;
}

.ie7 .row {
   zoom: 1;
}

.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol {
   margin-right: 2.65183917878529%; /* 31px / 1169px */ 
   float: left;
   min-height: 1px;
}

.last { 
   margin-right: 0;
   float: right;
}

/* Larguras grid
========================================================================== */

.row .onecol { width: 5.90248075278015%;     /* 69px / 1169px */  }
.row .twocol { width: 14.45680068434559%;    /* 169px / 1169px */ }
.row .threecol { width: 23.01112061591104%;  /* 269px / 1169px */ }
.row .fourcol { width: 31.56544054747648%;   /* 369px / 1169px */ }
.row .fivecol { width: 40.11976047904192%;   /* 469px / 1169px */ }
.row .sixcol { width: 48.67408041060736%;    /* 569px / 1169px */ }
.row .sevencol { width: 57.2284003421728%;   /* 669px / 1169px */ }
.row .eightcol { width: 65.78272027373824%;  /* 769px / 1169px */ }
.row .ninecol { width: 74.33704020530368%;   /* 869px / 1169px */ }
.row .tencol { width: 82.89136013686912%;    /* 969px / 1169px */ }
.row .elevencol { width: 91.44568006843456%; /* 1069px / 1169px */}
.row .twelvecol {
   width: 100%;                              /* 1169px / 1169px */
   float: left;
}

.onecol, 
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       -ms-box-sizing: border-box;
           box-sizing: border-box;
}

/* Correcao de largura IE */

.ie7 .row .onecol { width: 5.84%; }

@media only screen and (max-width: 1190px) {
   .ie7 .row .twocol { width: 14.4%; }
   .ie7 .row .threecol { width: 22.9%; }
   .ie7 .row .fourcol { width: 31.5%; }
   .ie7 .row .sixcol { width: 48.6%; }
}

 /* Offset | largura + margem
   ========================================================================== */

.offset-one { margin-left: 8.55431993156544%;     /* 100px / 1169px */ }
.offset-two { margin-left: 17.10863986313088%;    /* 200px / 1169px */ }
.offset-three { margin-left: 25.66295979469632%;  /* 300px / 1169px */ }
.offset-four { margin-left: 34.21727972626176%;   /* 400px / 1169px */ }
.offset-five { margin-left: 42.7715996578272%;    /* 500px / 1169px */ }
.offset-six { margin-left: 51.32591958939264%;    /* 600px / 1169px */ }
.offset-seven { margin-left: 59.88023952095808%;  /* 700px / 1169px */ }
.offset-eight { margin-left: 68.43455945252352%;  /* 800px / 1169px */ }
.offset-nine { margin-left: 76.98887938408896%;   /* 900px / 1169px */ }
.offset-ten { margin-left: 85.54319931565441%;    /* 1000px / 1169px */ }
.offset-eleven { margin-left: 94.09751924721985%; /* 1100px / 1169px */ }

/* Centralizando divs
   ========================================================================== */

.centered {
   float: none;
   margin: 0 auto;
}

img,
object,
embed {
   max-width: 100%;
}

img {
   height: auto;
} 

/* ==========================================================================
   Tablets
   ========================================================================== */

@media only screen and (max-width: 1023px) {

   body {
      font-size: 0.8em;
      line-height: 1.5em;
   }
   
}


/* ==========================================================================
   Mobile
   ========================================================================== */

@media handheld, only screen and (max-width: 767px) {

   body {
      font-size: 16px;
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust:none;
   }
   
   .row,
   body,
   .container {
      width: 100%;
      min-width: 0;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
   }
   
   .row .onecol,
   .row .twocol,
   .row .threecol,
   .row .fourcol,
   .row .fivecol,
   .row .sixcol,
   .row .sevencol,
   .row .eightcol,
   .row .ninecol,
   .row .tencol,
   .row .elevencol,
   .row .twelvecol {
      width: auto;
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding-left: 10px;
      padding-right: 10px;
   }

}

/* ==========================================================================
   Impressao
   ========================================================================== */

@media print {
   * {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
   }

   a,
   a:visited {
      text-decoration: underline;
   }

   a[href]:after {
      content: " (" attr(href) ")";
   }

   abbr[title]:after {
      content: " (" attr(title) ")";
   }

   .ir a:after,
   a[href^="javascript:"]:after,
   a[href^="#"]:after {
      content: "";
   }

   pre,
   blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
   }

   thead {
      display: table-header-group; /* h5bp.com/t */
   }

   tr,
   img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page {
      margin: 0.5cm;
   }

   p {
      orphans: 3;
      widows: 3;
   }

   h2,
   h3 {
      page-break-after: avoid;
      orphans: 3;
      widows: 3;
   }
}