/* ==========================================================================
   Base
   ========================================================================== */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    font-size: 1em;
    line-height: 1.4;
}