/* ==========================================================================
   Cálculo grid
   ========================================================================== */
   $totalColumns   : 12;
   $columnWidth    : 60px;
   $gutterWidth    : 20px;
   $gridWidth      : 940px;
   $breakpoint     : 768px;
   
   /* Funções de cálculo do grid */
   @import 'grid-functions';


/* ==========================================================================
   Grid
   ========================================================================== */
   body {
      width: 100%;
      @include clearfix();
   }
      

   @media only screen {
      .container {
         padding-left: 10px;
         padding-right: 10px;
      }

      .row {
         width: 100%;
         @include clearfix();
         margin: 0 auto;
      }

   }

   /*
    * CSS adaptado para dispositivos com resoluções maiores que 767px
    *    Tablets e desktops
    */

   @media only screen and (min-width: $breakpoint) {

      /* Largura máxima do Grid */
      .row { max-width: $gridWidth; }
      .column { @include column(); }

      /* Larguras grid
         ========================================================================== */
         .onecol { @include width(1); @include column(); }
         .twocol { @include width(2); @include column(); }
         .threecol { @include width(3); @include column(); }
         .fourcol { @include width(4); @include column(); }
         .fivecol { @include width(5); @include column(); }
         .sixcol { @include width(6); @include column(); }
         .sevencol { @include width(7); @include column(); }
         .eightcol { @include width(8); @include column(); }
         .ninecol { @include width(9); @include column(); }
         .tencol { @include width(10); @include column(); }
         .elevencol { @include width(11); @include column(); }
         .twelvecol { @include width(12); @include column(); }

      /* Offsets
         ========================================================================== */
         .offset-one { @include push(1); }
         .offset-two { @include push(2); }
         .offset-three { @include push(3); }
         .offset-four { @include push(4); }
         .offset-five { @include push(5); }
         .offset-six { @include push(6); }
         .offset-seven { @include push(7); }
         .offset-eight { @include push(8); }
         .offset-nine { @include push(9); }
         .offset-ten { @include push(10); }
         .offset-eleven { @include push(11); }
         .offset-twelve { @include push(12); }

      /* Centralizando
         ========================================================================== */
         .centered {
            display: block;
            float: none;
            margin-left: auto;
            margin-right: auto;
         }

      .last { @include last(); }
   }