/* ==========================================================================
   Icones
   ========================================================================== */

   [class^="ico-"], [class*=" ico-"] {
      background-image: url("../img/sprite.png");
      background-repeat: no-repeat;
      display: inline-block;
      line-height: 20px;
      margin-top: 1px;
      vertical-align: text-top;
   }

   /* Telas retina (CSS aplicado a dispositivos com tela de alta resolução)
      ========================================================================== */

      @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { 
         [class^="ico-"], [class*=" ico-"] { background-size: 0 0; }
      }