/* ==========================================================================
   Tipografia
   ========================================================================== */

   body {
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust:none;
   }

   /* Titulos
      ========================================================================== */

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {}

   /* Textos
      ========================================================================== */

      p {
         color: #666666;
         font-size: 14px;
         line-height: 20px;
         margin: 0 0 15px;
         text-align: left;
      }

   /* Listas
      ========================================================================== */
      ul,
      dl {
         color: #666;
         font-size: 14px;
      }

   /* Links
      ========================================================================== */
      a { 
         color: blue;
         text-decoration: none;
      }

      a:hover { text-decoration: underline; }