/* ==========================================================================
   Mixins e variaveis
   ========================================================================== */

   /* Transition */
   @mixin transition($parameters) {
      -webkit-transition: $parameters;
         -moz-transition: $parameters;
           -o-transition: $parameters;
          -ms-transition: $parameters;
              transition: $parameters;
   }
   
   /* Scale */
   @mixin scale($value) {
      -webkit-transform: scale($value);
         -moz-transform: scale($value);
          -ms-transform: scale($value);
           -o-transform: scale($value);
              transform: scale($value);
   }

   /* Opacity w/ IE value */
   @mixin opacity($value, $IEvalue) {
      opacity: $value;
      filter: alpha(opacity=$IEvalue);
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity="$IEvalue")";
   }


   /* Box sizing */
   @mixin box-sizing() {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
              box-sizing: border-box;
   }
   
   /* Border radius */
   @mixin border-radius($radius) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
              border-radius: $radius;
   }
   
   /* Box shadow */
   @mixin box-shadow($parameters) { 
      -webkit-box-shadow: $parameters;
              box-shadow: $parameters;
   }
   
   /* Clearfix */
   @mixin clearfix() {
      .ie7 & { zoom:1 }

      &:before,
      &:after {
          content:"";
          display:table;
      }
      &:after {
          clear:both;
      }
   }

   /* Animation */
   @mixin animation($parameters) {
      -webkit-animation: $parameters;
         -moz-animation: $parameters;
          -ms-animation: $parameters;
           -o-animation: $parameters;
              animation: $parameters;
   }


/* ==========================================================================
   Base
   ========================================================================== */
   ::-moz-selection {
      background: #666;
      text-shadow: none;
      color: #fff;
   }

   ::selection {
      background: #666;
      text-shadow: none;
      color: #fff;
   }

   img, 
   object,
   embed,
   iframe { max-width: 100%; }

   img { height: auto; }

   * { @include box-sizing(); }

/* ==========================================================================
   Classes Auxiliares
   ========================================================================== */
   .hover { @include transition(opacity 0.25s ease); }
   .hover:hover { @include opacity(0.8, 80); }

   .pull-left { float: left; }
   .pull-right { float: right; }

   .text-left { text-align: left; }
   .text-right { text-align: right; }
   .text-center { text-align: center; }
   .text-justify { text-align: justify; }

   .hide { display: none; }
   .block { display: block; }