/*  ==========================================================================
    Mixins
    ========================================================================== */

    /*  Transition
        ========================================================================== */
        @mixin transition($parameters) {
            -webkit-transition: $parameters;
               -moz-transition: $parameters;
                 -o-transition: $parameters;
                -ms-transition: $parameters;
                    transition: $parameters;
        }

    /*  Scale
        ========================================================================== */
        @mixin scale($value) {
            -webkit-transform: scale($value);
               -moz-transform: scale($value);
                -ms-transform: scale($value);
                 -o-transform: scale($value);
                    transform: scale($value);
        }

    /*  Opacity w/ IE value
        ========================================================================== */
        @mixin opacity($value, $IEvalue) {
            opacity: $value;
            filter: alpha(opacity=$IEvalue);
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity="$IEvalue")";
        }


    /*  Box sizing
        ========================================================================== */
        @mixin box-sizing() {
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                    box-sizing: border-box;
        }

    /*  Border radius
        ========================================================================== */
        @mixin border-radius($radius) {
            -webkit-border-radius: $radius;
               -moz-border-radius: $radius;
                    border-radius: $radius;
        }

    /*  Box shadow
        ========================================================================== */
        @mixin box-shadow($parameters) {
            -webkit-box-shadow: $parameters;
                    box-shadow: $parameters;
        }

    /*  Clearfix
        ========================================================================== */
        @mixin clearfix() {
            .ie7 & { zoom:1 }

            &:before,
            &:after {
                content:"";
                display:table;
            }
            &:after {
                clear:both;
            }
        }

    /*  Animation
        ========================================================================== */
        @mixin animation($parameters) {
            -webkit-animation: $parameters;
               -moz-animation: $parameters;
                -ms-animation: $parameters;
                 -o-animation: $parameters;
                    animation: $parameters;
        }

    /*  Transform
        ========================================================================== */
        @mixin transform($parameters) {
            -webkit-transform: $parameters;
               -moz-transform: $parameters;
                 -o-transform: $parameters;
                -ms-transform: $parameters;
                    transform: $parameters;
        }

    /*  Vertical gradient
        ========================================================================== */
        @mixin vertical-gradient($startColor, $endColor) {
            background-color: $startColor;
            background-image: -moz-linear-gradient(top,  $startColor 0%, $endColor 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startColor), color-stop(100%,$endColor));
            background-image: -webkit-linear-gradient(top,  $startColor 0%,$endColor 100%);
            background-image: -o-linear-gradient(top,  $startColor 0%,$endColor 100%);
            background-image: -ms-linear-gradient(top,  $startColor 0%,$endColor 100%);
            background-image: linear-gradient(to bottom,  $startColor 0%,$endColor 100%);
            filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='") + ie-hex-str($startColor) + unquote("', endColorstr='") + ie-hex-str($endColor) + unquote("',GradientType=0)");

            background-repeat: repeat-x;
        }
