/*  ==========================================================================
    Mixins
    ========================================================================== */

    /*  Transition
        ========================================================================== */
        @mixin transition($parameters...) {
            -webkit-transition: $parameters;
               -moz-transition: $parameters;
                 -o-transition: $parameters;
                -ms-transition: $parameters;
                    transition: $parameters;
        }

    /*  Opacity w/ IE value
        ========================================================================== */
        @mixin opacity($value, $IEvalue) {
            opacity: $value;
            filter: alpha(opacity=$IEvalue);
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity="$IEvalue")";
        }


    /*  Box sizing
        ========================================================================== */
        @mixin box-sizing() {
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                    box-sizing: border-box;
        }

    /*  Border radius
        ========================================================================== */
        @mixin border-radius($radius) {
            -webkit-border-radius: $radius;
               -moz-border-radius: $radius;
                    border-radius: $radius;
        }

    /*  Box shadow
        ========================================================================== */
        @mixin box-shadow($parameters) {
            -webkit-box-shadow: $parameters;
                    box-shadow: $parameters;
        }

    /*  Clearfix
        ========================================================================== */
        @mixin clearfix() {
            .ie7 & { zoom:1 }

            &:before,
            &:after {
                content:"";
                display:table;
            }
            &:after {
                clear:both;
            }
        }

    /*  Animation
        ========================================================================== */
        @mixin animation($parameters...) {
            -webkit-animation: $parameters;
               -moz-animation: $parameters;
                -ms-animation: $parameters;
                 -o-animation: $parameters;
                    animation: $parameters;
        }

    /*  Transform
        ========================================================================== */
        @mixin transform($parameters) {
            -webkit-transform: $parameters;
               -moz-transform: $parameters;
                 -o-transform: $parameters;
                -ms-transform: $parameters;
                    transform: $parameters;
        }

    /*  Gradients
        ========================================================================== */

        /*  Vertical gradient
            ========================================================================== */
            @mixin vertical-gradient($startColor, $endColor) {
                background-color: $startColor;
                background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
                background: -webkit-linear-gradient(top, $startColor, $endColor);
                background:    -moz-linear-gradient(top, $startColor, $endColor);
                background:     -ms-linear-gradient(top, $startColor, $endColor);
                background:      -o-linear-gradient(top, $startColor, $endColor);
                background:         linear-gradient(to bottom, $startColor, $endColor);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
            }

        /*  Horizontal Gradient
            ========================================================================== */
            @mixin horizontal-gradient($startColor, $endColor) {
                background-color: $startColor;
                background: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
                background: -webkit-linear-gradient(left, $startColor, $endColor);
                background:    -moz-linear-gradient(left, $startColor, $endColor);
                background:     -ms-linear-gradient(left, $startColor, $endColor);
                background:      -o-linear-gradient(left, $startColor, $endColor);
                background:         linear-gradient(to right, $startColor, $endColor);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
            }

    /*  Columns
        ========================================================================== */
        @mixin column($count, $gap, $line:'') {
            -webkit-column-count: $count;
               -moz-column-count: $count;
                    column-count: $count;

            -webkit-column-gap: $gap;
               -moz-column-gap: $gap;
                    column-gap: $gap;

            @if $line != '' {
            -webkit-column-rule: $line;
               -moz-column-rule: $line;
                    column-rule: $line;
            }
        }