/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  ==========================================================================
        Grid
        ========================================================================== */
        $total-columns : 12; // Total of columns
        $column-width  : 60px; // Columns width
        $gutter-width  : 20px; // Space between the columns
        $breath        : 20px; // Option of lateral space for grid
        $breakpoint    : 768px; // Breakpoint for small devices
        $space         : 25px; // Vertical space

    /*  Colors
        ========================================================================== */

        /* Default */
        $color-gray: #BDC3C7;
        $color-gray-light: #F2F1EF;
        $color-gray-middle: #DADFE1;
        $color-gray-dark: #6C7A89;

    /*  Forms
        ========================================================================== */

        /*  Inputs
            ========================================================================== */
            $color-border-input: $color-gray-middle;
            $color-input: $color-gray-dark;

            /*  Placeholder
                ========================================================================== */
                $placeholder-font-size: 14px;
                $color-placeholder: $color-gray;

            /*  Required tip
                ========================================================================== */
                $color-required-tip: $color-gray-dark;
                $required-tip-font-size: 12px;

            /*  Required field
                ========================================================================== */
                $color-required: $color-gray-dark;
                $required-font-size: 12px;

    /*  Buttons
        ========================================================================== */
        $btn-font-size: 14px;

        /*  Colors
            ========================================================================== */

            /*  Default
                ========================================================================== */
                $btn-bg: $color-gray-light;
                $btn-bg-hover: darken($btn-bg, 5%);

            /*  Gray
                ========================================================================== */
                $btn-gray-bg: $color-gray;
                $btn-gray-bg-hover: darken($color-gray, 5%);

            /*  Gray Dark
                ========================================================================== */
                $btn-gray-dark-bg: $color-gray-dark;
                $btn-gray-dark-bg-hover: darken($color-gray-dark, 5%);

            /*  Gray Middle
                ========================================================================== */
                $btn-gray-middle-bg: $color-gray-middle;
                $btn-gray-middle-bg-hover: darken($color-gray-middle, 5%);

        /*  Social share
            ========================================================================== */
            /* Facebook */
            $color-social-facebook: #3B5997;
            $border-social-facebook: #2B4663;
            $hover-social-facebook: darken($color-social-facebook, 5%);

            /* Twitter */
            $color-social-twitter: #2CA9E1;
            $border-social-twitter: #2995BC;
            $hover-social-twitter: darken($color-social-twitter, 5%);

            /* Google Plus */
            $color-social-google-plus: #dd4b39;
            $border-social-google-plus: #C0392B;
            $hover-social-google-plus: darken($color-social-google-plus, 5%);

            /* Linkedin */
            $color-social-linkedin: #0073B4;
            $border-social-linkedin: #055472;
            $hover-social-linkedin: darken($color-social-linkedin, 5%);

            /* Pinterest */
            $color-social-pinterest: #CD1D1F;
            $border-social-pinterest: #8C191E;
            $hover-social-pinterest: darken($color-social-pinterest, 5%);

            /* RSS */
            $color-social-rss: #FF6501;
            $border-social-rss: #C74803;
            $hover-social-rss: darken($color-social-rss, 5%);
