/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  Grid
        ========================================================================== */
        $totalColumns   : 12;
        $columnWidth    : 60px;
        $gutterWidth    : 20px;
        $gridWidth      : 940px;
        $breakpoint     : 768px;

    /*  Colors
        ========================================================================== */

        /*  Forms
            ========================================================================== */

            /*  Inputs
                ========================================================================== */
                $inputBorder: #ccc;
                $inputPlaceholder: #ccc;
                $inputText: #aaa;

            /*  Forms
                ========================================================================== */
                $formBg: #f7f7f7;
                $formBorder: #ddd;

                /*  Required fields
                    ========================================================================== */
                    $requiredColor: #999;
                    $requiredSize: 12px;
