{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="styleguide-title styleguide-title-page">{{ container.module }}</h1>
    <!-- Module -->
    {% for grid in grid %}
        <h2 class="styleguide-title-module">{{ grid.title }}</h2>
        <p>{{ grid.subtitle }}</p>
        {% include grid.sourceCode %}
    {% endfor %}
{% endblock %}
