/*  ==========================================================================
    Layout
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {

    }

    /*
     * CSS for Extra small devices (phones, less than 768px)
     */

    @media (max-width: $breakpoint) {

    }

    /*
     * CSS for Small devices (tablets, 768px and up)
     */

    @media (min-width: $breakpoint) {

    }

    /*
     * CSS for Medium devices (desktops, 992px and up)
     */

    @media (min-width: $breakpoint-medium) {

    }

    /*
     * CSS for Large devices (large desktops, 1200px and up)
     */

    @media (min-width: $breakpoint-large) {

    }
