<!-- Grid example -->
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1 last"><p class="styleguide-grid-info">1</p></div>
</div>
<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-2 last"><p class="styleguide-grid-info">2</p></div>
</div>
<div class="row">
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-3 last"><p class="styleguide-grid-info">3</p></div>
</div>
<div class="row">
    <div class="col-4"><p class="styleguide-grid-info">4</p></div>
    <div class="col-4"><p class="styleguide-grid-info">4</p></div>
    <div class="col-4 last"><p class="styleguide-grid-info">4</p></div>
</div>
<div class="row">
    <div class="col-5"><p class="styleguide-grid-info">5</p></div>
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-5 last"><p class="styleguide-grid-info">5</p></div>
</div>
<div class="row">
    <div class="col-6"><p class="styleguide-grid-info">6</p></div>
    <div class="col-6 last"><p class="styleguide-grid-info">6</p></div>
</div>
<div class="row">
    <div class="col-7"><p class="styleguide-grid-info">7</p></div>
    <div class="col-5 last"><p class="styleguide-grid-info">5</p></div>
</div>
<div class="row">
    <div class="col-8"><p class="styleguide-grid-info">8</p></div>
    <div class="col-4 last"><p class="styleguide-grid-info">4</p></div>
</div>
<div class="row">
    <div class="col-9"><p class="styleguide-grid-info">9</p></div>
    <div class="col-3 last"><p class="styleguide-grid-info">3</p></div>
</div>
<div class="row">
    <div class="col-10"><p class="styleguide-grid-info">10</p></div>
    <div class="col-2 last"><p class="styleguide-grid-info">2</p></div>
</div>
<div class="row">
    <div class="col-11"><p class="styleguide-grid-info">11</p></div>
    <div class="col-1 last"><p class="styleguide-grid-info">1</p></div>
</div>
<div class="row">
    <div class="col-12"><p class="styleguide-grid-info">12</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-10 offset-1 last"><p class="styleguide-grid-info">10 + espaço 1</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-9 offset-2 last"><p class="styleguide-grid-info">9 + espaço 2</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-8 offset-3 last"><p class="styleguide-grid-info">8 + espaço 3</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-7 offset-4 last"><p class="styleguide-grid-info">7 + espaço 4</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-6 offset-5 last"><p class="styleguide-grid-info">6 + espaço 5</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-5 offset-6 last"><p class="styleguide-grid-info">5 + espaço 6</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-4 offset-7 last"><p class="styleguide-grid-info">4 + espaço 7</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-3 offset-8 last"><p class="styleguide-grid-info">3 + espaço 8</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-2 offset-9 last"><p class="styleguide-grid-info">2 + espaço 9</p></div>
</div>
<div class="row">
    <div class="col-1"><p class="styleguide-grid-info">1</p></div>
    <div class="col-1 offset-10 last"><p class="styleguide-grid-info">1 + e1</p></div>
</div>

<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-9 offset-1 last"><p class="styleguide-grid-info">9 + espaço 1</p></div>
</div>
<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-8 offset-2 last"><p class="styleguide-grid-info">8 + espaço 2</p></div>
</div>
<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-7 offset-3 last"><p class="styleguide-grid-info">7 + espaço 3</p></div>
</div>
<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-6 offset-4 last"><p class="styleguide-grid-info">6 + espaço 4</p></div>
</div>
<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-5 offset-5 last"><p class="styleguide-grid-info">5 + espaço 5</p></div>
</div>
<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-4 offset-6 last"><p class="styleguide-grid-info">4 + espaço 6</p></div>
</div>
<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-3 offset-7 last"><p class="styleguide-grid-info">3 + espaço 7</p></div>
</div>
<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-2 offset-8 last"><p class="styleguide-grid-info">2 + espaço 8</p></div>
</div>
<div class="row">
    <div class="col-2"><p class="styleguide-grid-info">2</p></div>
    <div class="col-1 offset-9 last"><p class="styleguide-grid-info">1 + e9</p></div>
</div>

<div class="row">
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-8 offset-1 last"><p class="styleguide-grid-info">8 + espaço 1</p></div>
</div>
<div class="row">
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-7 offset-2 last"><p class="styleguide-grid-info">7 + espaço 2</p></div>
</div>
<div class="row">
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-6 offset-3 last"><p class="styleguide-grid-info">6 + espaço 3</p></div>
</div>
<div class="row">
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-5 offset-4 last"><p class="styleguide-grid-info">5 + espaço 4</p></div>
</div>
<div class="row">
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-4 offset-5 last"><p class="styleguide-grid-info">4 + espaço 5</p></div>
</div>
<div class="row">
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-3 offset-6 last"><p class="styleguide-grid-info">3 + espaço 6</p></div>
</div>
<div class="row">
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-2 offset-7 last"><p class="styleguide-grid-info">2 + espaço 7</p></div>
</div>
<div class="row">
    <div class="col-3"><p class="styleguide-grid-info">3</p></div>
    <div class="col-1 offset-8 last"><p class="styleguide-grid-info">1 + e8</p></div>
</div>

<div class="row">
    <div class="col-4"><p class="styleguide-grid-info">4</p></div>
    <div class="col-7 offset-1 last"><p class="styleguide-grid-info">7 + espaço 1</p></div>
</div>
<div class="row">
    <div class="col-4"><p class="styleguide-grid-info">4</p></div>
    <div class="col-6 offset-2 last"><p class="styleguide-grid-info">6 + espaço 2</p></div>
</div>
<div class="row">
    <div class="col-4"><p class="styleguide-grid-info">4</p></div>
    <div class="col-5 offset-3 last"><p class="styleguide-grid-info">5 + espaço 3</p></div>
</div>
<div class="row">
    <div class="col-4"><p class="styleguide-grid-info">4</p></div>
    <div class="col-4 offset-4 last"><p class="styleguide-grid-info">4 + espaço 4</p></div>
</div>
<div class="row">
    <div class="col-4"><p class="styleguide-grid-info">4</p></div>
    <div class="col-3 offset-5 last"><p class="styleguide-grid-info">3 + espaço 5</p></div>
</div>
<div class="row">
    <div class="col-4"><p class="styleguide-grid-info">4</p></div>
    <div class="col-2 offset-6 last"><p class="styleguide-grid-info">2 + espaço 6</p></div>
</div>
<div class="row">
    <div class="col-4"><p class="styleguide-grid-info">4</p></div>
    <div class="col-1 offset-7 last"><p class="styleguide-grid-info">1 + e7</p></div>
</div>

<div class="row">
    <div class="col-5"><p class="styleguide-grid-info">5</p></div>
    <div class="col-6 offset-1 last"><p class="styleguide-grid-info">6 + espaço 1</p></div>
</div>
<div class="row">
    <div class="col-5"><p class="styleguide-grid-info">5</p></div>
    <div class="col-5 offset-2 last"><p class="styleguide-grid-info">5 + espaço 2</p></div>
</div>
<div class="row">
    <div class="col-5"><p class="styleguide-grid-info">5</p></div>
    <div class="col-4 offset-3 last"><p class="styleguide-grid-info">4 + espaço 3</p></div>
</div>
<div class="row">
    <div class="col-5"><p class="styleguide-grid-info">5</p></div>
    <div class="col-3 offset-4 last"><p class="styleguide-grid-info">3 + espaço 4</p></div>
</div>
<div class="row">
    <div class="col-5"><p class="styleguide-grid-info">5</p></div>
    <div class="col-2 offset-5 last"><p class="styleguide-grid-info">2 + espaço 5</p></div>
</div>
<div class="row">
    <div class="col-5"><p class="styleguide-grid-info">5</p></div>
    <div class="col-1 offset-6 last"><p class="styleguide-grid-info">1 + e6</p></div>
</div>

<div class="row">
    <div class="col-6"><p class="styleguide-grid-info">6</p></div>
    <div class="col-5 offset-1 last"><p class="styleguide-grid-info">5 + espaço 1</p></div>
</div>
<div class="row">
    <div class="col-6"><p class="styleguide-grid-info">6</p></div>
    <div class="col-4 offset-2 last"><p class="styleguide-grid-info">4 + espaço 2</p></div>
</div>
<div class="row">
    <div class="col-6"><p class="styleguide-grid-info">6</p></div>
    <div class="col-3 offset-3 last"><p class="styleguide-grid-info">3 + espaço 3</p></div>
</div>
<div class="row">
    <div class="col-6"><p class="styleguide-grid-info">6</p></div>
    <div class="col-2 offset-4 last"><p class="styleguide-grid-info">2 + espaço 4</p></div>
</div>
<div class="row">
    <div class="col-6"><p class="styleguide-grid-info">6</p></div>
    <div class="col-1 offset-5 last"><p class="styleguide-grid-info">1 + e5</p></div>
</div>

<div class="row">
    <div class="col-7"><p class="styleguide-grid-info">7</p></div>
    <div class="col-4 offset-1 last"><p class="styleguide-grid-info">4 + espaço 1</p></div>
</div>
<div class="row">
    <div class="col-7"><p class="styleguide-grid-info">7</p></div>
    <div class="col-3 offset-2 last"><p class="styleguide-grid-info">3 + espaço 2</p></div>
</div>
<div class="row">
    <div class="col-7"><p class="styleguide-grid-info">7</p></div>
    <div class="col-2 offset-3 last"><p class="styleguide-grid-info">2 + espaço 3</p></div>
</div>
<div class="row">
    <div class="col-7"><p class="styleguide-grid-info">7</p></div>
    <div class="col-1 offset-4 last"><p class="styleguide-grid-info">1 + e4</p></div>
</div>

<div class="row">
    <div class="col-8"><p class="styleguide-grid-info">8</p></div>
    <div class="col-3 offset-1 last"><p class="styleguide-grid-info">3 + espaço 1</p></div>
</div>
<div class="row">
    <div class="col-8"><p class="styleguide-grid-info">8</p></div>
    <div class="col-2 offset-2 last"><p class="styleguide-grid-info">2 + espaço 2</p></div>
</div>
<div class="row">
    <div class="col-8"><p class="styleguide-grid-info">8</p></div>
    <div class="col-1 offset-3 last"><p class="styleguide-grid-info">1 + e3</p></div>
</div>
<div class="row">
    <div class="col-9"><p class="styleguide-grid-info">9</p></div>
    <div class="col-2 offset-1 last"><p class="styleguide-grid-info">2 + espaço 1</p></div>
</div>
<div class="row">
    <div class="col-9"><p class="styleguide-grid-info">9</p></div>
    <div class="col-1 offset-2 last"><p class="styleguide-grid-info">1 + e2</p></div>
</div>

<div class="row">
    <div class="col-10"><p class="styleguide-grid-info">10</p></div>
    <div class="col-1 offset-1 last"><p class="styleguide-grid-info">1 + e1</p></div>
</div>

<div class="row">
    <div class="col-1 centered"><p class="styleguide-grid-info">1</p></div>
</div>
<div class="row">
    <div class="col-2 centered"><p class="styleguide-grid-info">2</p></div>
</div>
<div class="row">
    <div class="col-3 centered"><p class="styleguide-grid-info">3</p></div>
</div>
<div class="row">
    <div class="col-4 centered"><p class="styleguide-grid-info">4</p></div>
</div>
<div class="row">
    <div class="col-5 centered"><p class="styleguide-grid-info">1</p></div>
</div>
<div class="row">
    <div class="col-6 centered"><p class="styleguide-grid-info">6</p></div>
</div>
<div class="row">
    <div class="col-7 centered"><p class="styleguide-grid-info">7</p></div>
</div>
<div class="row">
    <div class="col-8 centered"><p class="styleguide-grid-info">8</p></div>
</div>
<div class="row">
    <div class="col-9 centered"><p class="styleguide-grid-info">9</p></div>
</div>
<div class="row">
    <div class="col-10 centered"><p class="styleguide-grid-info">10</p></div>
</div>
<div class="row">
    <div class="col-11 centered"><p class="styleguide-grid-info">11</p></div>
</div>
