/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  Grid
        ========================================================================== */
        $totalColumns   : 12;
        $columnWidth    : 60px;
        $gutterWidth    : 20px;
        $gridWidth      : 940px;
        $breakpoint     : 768px;

    /*  Colors
        ========================================================================== */
