<select class="select" id="select" name="select">
    <option value="-1">Escolha uma opção</option>
    <option value="Opção 1">Opção 1</option>
    <option value="Opção 2">Opção 2</option>
    <option value="Opção 3">Opção 3</option>
    <option value="Opção 4">Opção 4</option>
</select>
