<form class="form form-search" action="" role="form">
    <fieldset>
        <legend class="sr-only">Formulário de Busca</legend>

        <label class="form-label" for="busca">Digite sua busca</label>
        <input class="input" id="busca" name="busca" aria-required="true" placeholder="Digite sua pesquisa" type="text">

        <input type="submit" class="btn btn-large" value="Enviar">
    </fieldset>
</form>
