/*  ==========================================================================
    Navigation
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {

        /*  Header
            ========================================================================== */

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */

        /*  Tabs
            ========================================================================== */
            .tablist-menu {
                padding: 20px;
            }

            .tabscroll-responsive { overflow-x: auto; }

            [role="tablist"] {
                padding-left: 0;
                margin: 6px 0 0;
                list-style-type: none;
                @include clearfix;
                > [role="presentation"] {
                    float: left;
                }
            }

            [role="tablist"] [role="tab"] {
                display: block;
                padding: 12px;
                background-color: $color-primary;
                color: #fff;
                text-decoration: none;
                &[aria-selected="false"]:hover {
                    background-color: lighten($color-primary, 5%);;
                }
                &[aria-selected="true"] {
                    background-color: #fff;
                    padding: 13px 12px;
                    color: $color-primary;
                    border-top: 4px solid;
                    margin-top: -6px;
                }
            }

            [role="tabpanel"] {
                background: #fff;
                width: 100%;
                display: inline-block;
                padding: 20px 16px 8px;
                &[aria-hidden="true"] {
                    display:none;
                    visibility:hidden;
                }
            }
        }

    /*
     * CSS for devices with resolution up to a maximum of breakpoint
     */

    @media only screen and (max-width: $breakpoint) {

        /*  Header
            ========================================================================== */

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */

        }

    /*
     * CSS for devices with resolution up to the minimum breakpoint
     */

    @media only screen and (min-width: $breakpoint+1) {

        /*  Header
            ========================================================================== */

        /*  Footer
            ========================================================================== */

        /*  Menu
            ========================================================================== */

    }
