{% extends 'layout.html.twig' %}
{% block content %}
<h1 class="styleguide-title styleguide-title-page">{{ container.module }}</h1>
<!-- Module -->
{% for button in  buttons %}
<h2 class="styleguide-title-module">{{ button.title }}</h2>
<p>{{ button.subtitle }}</p>
<!-- code -->
{% include button.sourceCode %}
<pre class="styleguide-code"><code data-language="html"></code></pre>
{% endfor %}
{% endblock %}
