/* ==========================================================================
   Cálculo grid
   ========================================================================== */

   /*   Width columns
        ========================================================================== */
        @function col($n) {
            @return percentage( (( $n * ($column-width + $gutter-width) - $gutter-width) ) / $grid-width );
        }

        @mixin width($n) {
            width: col($n);
        }

    /*  Column
        ========================================================================== */
        @mixin column() {
            float: left;
            margin-right: percentage( $gutter-width / $grid-width );
        }

    /*  Last item row (no-margin)
        ========================================================================== */
        @mixin last() {
            margin-right: 0;
            float: right;
        }

   /*   Push columns (offset)
        ========================================================================== */
        @mixin push($n) {
            margin-left: percentage( (($n * $column-width) + ($n * $gutter-width))  / $grid-width );
        }
