/*  ==========================================================================
    Grid calc
    ========================================================================== */
    /* Grid calc */
    @import 'grid-functions';

/*  ==========================================================================
    Grid
    ========================================================================== */
    body {
        width: 100%;
        @include clearfix();
    }


    @media only screen {
        .container {
            padding-left: 10px;
            padding-right: 10px;
        }

        .row {
            width: 100%;
            @include clearfix();
            margin: 0 auto;
        }
    }

    /*
     * CSS for devices with resolution higher than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Grid width
            ========================================================================== */
            .row {
                max-width: $gridWidth;
            }

            .row.full {
                max-width: $gridFull;
                padding-left: $breath;
                padding-right: $breath;
            }

            .column { @include column(); }

        /*  Columns width
            ========================================================================== */
            .onecol { @include width(1); }
            .twocol { @include width(2); }
            .threecol { @include width(3); }
            .fourcol { @include width(4); }
            .fivecol { @include width(5); }
            .sixcol { @include width(6); }
            .sevencol { @include width(7); }
            .eightcol { @include width(8); }
            .ninecol { @include width(9); }
            .tencol { @include width(10); }
            .elevencol { @include width(11); }
            .twelvecol { @include width(12); }

            .column,
            .onecol,
            .twocol,
            .threecol,
            .fourcol,
            .fivecol,
            .sixcol,
            .sevencol,
            .eightcol,
            .ninecol,
            .tencol,
            .elevencol,
            .twelvecol { @include column(); }

        /*  Offsets
            ========================================================================== */
            .offset-one { @include push(1); }
            .offset-two { @include push(2); }
            .offset-three { @include push(3); }
            .offset-four { @include push(4); }
            .offset-five { @include push(5); }
            .offset-six { @include push(6); }
            .offset-seven { @include push(7); }
            .offset-eight { @include push(8); }
            .offset-nine { @include push(9); }
            .offset-ten { @include push(10); }
            .offset-eleven { @include push(11); }
            .offset-twelve { @include push(12); }

        /*  Center
            ========================================================================== */
            .centered {
                display: block;
                float: none;
                margin-left: auto;
                margin-right: auto;
            }

        /*  Last item
            ========================================================================== */
            .last { @include last(); }
   }
