/* ==========================================================================
   Cálculo grid
   ========================================================================== */

   /*   Width columns
        ========================================================================== */
        @function col($n) {
            @return percentage( (( $n * ($columnWidth + $gutterWidth) - $gutterWidth) ) / $gridWidth );
        }

        @mixin width($n) {
            width: col($n);
        }

    /*  Column
        ========================================================================== */
        @mixin column() {
            float: left;
            margin-right: percentage( $gutterWidth / $gridWidth );
        }

    /*  Last item row (no-margin)
        ========================================================================== */
        @mixin last() {
            margin-right: 0;
            float: right;
        }

   /*   Push columns (offset)
        ========================================================================== */
        @mixin push($n) {
            margin-left: percentage( (($n * $columnWidth) + ($n * $gutterWidth))  / $gridWidth );
        }
