/*  ==========================================================================
    Typography
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust:none;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400;
        }

        /*  Titles
            ========================================================================== */
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: inherit;
                margin: 0 0 30px 0;
                font-weight: 700;
                color: $color-gray-dark;

                &.sub{
                    font-weight: 400;
                }
            }

            h1{
                font-size: 36px;
                line-height: 40px;
            }

            h2{
                font-size: 30px;
                line-height: 34px;
            }

            h3{
                font-size: 24px;
                line-height: 28px;
            }

            h4{
                font-size: 18px;
                line-height: 22px;
            }

            h5{
                font-size: 14px;
                line-height: 18px;
            }

            h6{
                font-size: 12px;
                line-height: 16px;
            }

        /*  Texts
            ========================================================================== */
            p {
                color: $color-gray-dark;
                font-size: 16px;
                line-height: 26px;
                margin: 0 0 30px;
            }

        /*  Links
            ========================================================================== */
            a {
                color: $color-primary;
                text-decoration: none;
            }

            a:hover { text-decoration: underline; }

        /*  Figure
            ========================================================================== */
            figure{
                margin: 0;
            }

        /*  Blockquote
            ========================================================================== */
            blockquote{
                border-left: 6px solid #ccc;
                padding: 0 0 0 22px;
                margin: 15px 20px;
            }
    }

    /*
     * CSS for Extra small devices (phones, less than 768px)
     */

    @media (max-width: $breakpoint) {

    }

    /*
     * CSS for Small devices (tablets, 768px and up)
     */

    @media (min-width: $breakpoint) {

    }

    /*
     * CSS for Medium devices (desktops, 992px and up)
     */

    @media (min-width: $breakpoint-medium) {

    }

    /*
     * CSS for Large devices (large desktops, 1200px and up)
     */

    @media (min-width: $breakpoint-large) {

    }
