/*  ==========================================================================
    Typography
    ========================================================================== */

    @media only screen {

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust:none;
        }

        /*  Titles
            ========================================================================== */
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {}

        /*  Texts
            ========================================================================== */
            p {
                color: #666666;
                font-size: 14px;
                line-height: 20px;
                margin: 0 0 15px;
                text-align: left;
            }

        /*  Links
            ========================================================================== */
            a {
             color: blue;
             text-decoration: none;
           }

           a:hover { text-decoration: underline; }

    }


    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

    }
