{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="styleguide-title styleguide-title-page">{{ container.module }}</h1>
    <!-- Module -->
    {% for color in modules_list %}
        <section class="styleguide-module">
            <div class="styleguide-color">
                <div class="styleguide-color-preview" style="background-color: {{ color }};"></div>
                <div class="styleguide-color-hex">{{ color }}</div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
