<footer class="styleguide-footer">
    <div class="row">
        <p class="pull-left">@2014 Mash Snack | Guia de Estilos - {{ container.project.name }}</p>
        <p class="pull-right"><a href="#"><i class="fa fa-github"></i> Github</a></p>
    </div>
</footer>
