<footer class="styleguide-footer">
    <div class="row">
        <p class="pull-left">@2014 | Guia de Estilos - {{ container.project.name }}</p>
        <p class="pull-right"><a href="http://www.a2ad.com.br">A2ad</a></p>
    </div>
</footer>
