<!-- Header -->
<header class="styleguide-header">
    <div class="row">
        <i class="fa fa-code"></i>
        <h1 class="styleguide-title"><a href="{{ container.project.styleguide_url }}/">Guia de Estilos</a></h1>
        <h2 class="styleguide-project">{{ container.project.name }}</h2>
    </div>
</header>
