<!doctype html>
<!--[if IE 7]>    <html class="no-js ie7" lang="pt-br">     <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="pt-br">     <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="pt-br">     <![endif]-->
<head>
    <meta charset="utf-8">
    <title>
    {% if container.module %}
        {{ container.module }} | Guia de Estilo - {{ container.project.name }}
    {% else %}
        Guia de Estilo - {{ container.project.name }}
    {% endif %}
    </title>
    {% include 'head.html.twig' %}

    {% block css %}
        <!-- CSS styleguide -->
        <link rel="stylesheet" href="../../build/css/main.min.css">
        <!-- CSS demo -->
        <link rel="stylesheet" href="../lib/build/css/main.min.css">
    {% endblock %}

    <!-- Respond -->
    <!--[if lt IE 9]>
    <script src="../../build/js/html5shiv-respond.min.js"></script>
    <![endif]-->
</head>
<body class="styleguide-body styleguide-home">

    <!-- Header -->
    {% include 'header.html.twig' %}

    <!-- Main -->
    <main role="main" class="styleguide-main styleguide-featured">

        <div class="sg-featured">
            <div class="row">

                <!-- Content -->
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </main>

    <!-- Footer -->
    {% include 'footer.html.twig' %}

</body>
</html>
