{% extends 'layout.html.twig' %}

{% block css %}
<!-- CSS styleguide -->
<link rel="stylesheet" href="../../build/css/main.min.css">
<!-- CSS demo -->
<link rel="stylesheet" href="lib/build/css/main.min.css">
{% endblock %}

{% block content %}
    <h1 class="styleguide-title">Guia de Estilo <span>{{ container.project }}</span></h1>

    <dl class="styleguide-info">
        <dt><i class="fa fa-desktop"></i>Projeto</dt>
        <dd>{{ container.project }}</dd>
        <dt><i class="fa fa-gears"></i>CMS</dt>
        <dd>{{ container.cms }}</dd>
        <dt><i class="fa fa-info"></i>Suporte</dt>
        <dd>{{ container.browsers }}</dd>
    </dl>
{% endblock %}

{% block js %}
{% endblock %}
