{% extends 'layout.html.twig' %}

{% block css %}
<!-- CSS styleguide -->
<link rel="stylesheet" href="../../build/css/main.min.css">
<!-- CSS demo -->
<link rel="stylesheet" href="lib/build/css/main.min.css">
{% endblock %}

{% block content %}

    <div class="box"><i class="fa fa-desktop"></i><span class="text">{{ container.project.name }}</span></div>
    <div class="box"><i class="fa fa-gears"></i><span class="text">{{ container.project.cms }}</span></div>
    <div class="box"><i class="fa fa-info"></i><span class="text">{{ container.project.browsers }}</span></div>

{% endblock %}

{% block js %}
{% endblock %}
