{% extends 'home.html.twig' %}

{% block css %}
<!-- CSS styleguide -->
<link rel="stylesheet" href="../../build/css/main.min.css">
<!-- CSS demo -->
<link rel="stylesheet" href="lib/build/css/main.min.css">
{% endblock %}

{% block content %}

	<h2 class="title">Guia de Estilos CSS</h2>

    <div class="sg-infos">
	    <span class="sg-item"><i class="fa fa-tv"></i> {{ container.project.name }}</span><i class="fa fa-gg"></i>
	    <span class="sg-item"><i class="fa fa-cog"></i> {{ container.project.cms }}</span><i class="fa fa-gg"></i>
	    <span class="sg-item"><i class="fa fa-info-circle"></i> {{ container.project.browsers }}</span>
	</div>

{% endblock %}

{% block js %}
{% endblock %}
