<!doctype html>
<!--[if IE 7]>    <html class="no-js ie7" lang="pt-br">     <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="pt-br">     <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="pt-br">     <![endif]-->
<head>
    <meta charset="utf-8">
    <title>
    {% if container.module %}
        {{ container.module }} | Guia de Estilo - {{ container.project }}
    {% else %}
        Guia de Estilo - {{ container.project }}
    {% endif %}
    </title>
    {% include 'head.html.twig' %}

    {% block css %}
        <!-- CSS styleguide -->
        <link rel="stylesheet" href="../../build/css/main.min.css">
        <!-- CSS demo -->
        <link rel="stylesheet" href="../lib/build/css/main.min.css">
    {% endblock %}

    <!-- Modernizr 
    <script src="../../build/js/modernizr.min.js"></script>-->

    <!-- Respond -->
    <!--[if lt IE 9]>
    <script src="../../build/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="styleguide-body styleguide-{{ container.body_class }}">
    <!-- Menu lateral -->
    {% include 'menu.html.twig' %}

    <!-- Page content -->
    <div class="styleguide-hold">
        <article class="styleguide-main">
            {% block content %}
            {% endblock %}
        </article>

        <!-- Footer -->
        {% include 'footer.html.twig' %}
    </div>
    {% block js %}
        <!-- Scripts -->
        <script src="../lib/build/js/all.js"></script>
    {% endblock %}
</body>
</html>
