{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="styleguide-title styleguide-title-page">{{ container.module }}</h1>
    <!-- Module -->
    {% for item in iterator %}
        {% if item.isHtmlFile %}
            <section class="styleguide-module">
                {{ item.getFileContent|raw }}
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
