{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="styleguide-title">Guia de estilos <span>{{ container.project }}</span></h1>

    <dl class="styleguide-info">
        <dt><i class="icon-desktop"></i>Projeto</dt>
        <dd>{{ container.project }}</dd>
        <dt><i class="icon-gears"></i>CMS</dt>
        <dd>{{ container.cms }}</dd>
        <dt><i class="icon-info"></i>Suporte</dt>
        <dd>{{ container.browsers }}</dd>
    </dl>   
{% endblock %}