/*  ==========================================================================
    Layout
    ========================================================================== */

    @media only screen {
        body{
            background-color: red;
            color: #fff;
        }
        p {
            color: #fff;
        }

    }

    /*
     * CSS adaptado para dispositivos com resoluções maiores que 767px
     *    Tablets e desktops
     */

    @media only screen and (min-width: $breakpoint) {

    }
