/*  ==========================================================================
    Styleguide
    ========================================================================== */

    @media only screen {

        /*  Styleguide page
            ========================================================================== */
            .styleguide-page{
                background-color: #fff;
            }

        /*  Styleguide item
            ========================================================================== */
            .styleguide-item{
                padding: 20px 0;
            }

        /*  Styleguide example
            ========================================================================== */
            .styleguide-example{
                padding: 20px 0;
                margin-bottom: 20px;
            }

        /*  Styleguide item title
            ========================================================================== */
            .styleguide-title{
                color: #2ca8ff;
                margin-bottom: 15px;
            }
    }

