<div class='styleguide-demo'>
    <a href='#' class='btn'>default</a>
    <a href='#' class='btn btn-primary'>primary</a>
    <a href='#' class='btn btn-success'>success</a>
    <a href='#' class='btn btn-danger'>danger</a>
</div>