<div class="social-share">
    <a href="https://www.facebook.com/sharer/sharer.php?u=URL-AQUI" class="social-button social-facebook" alt="Compartilhar via Facebook"><i class="fa fa-facebook"></i>Facebook</a>
    <a href="https://twitter.com/home?status=URL-AQUI" class="social-button social-twitter" alt="Compartilhar via Twitter"><i class="fa fa-twitter"></i>Twitter</a>
    <a href="https://plus.google.com/share?url=URL-AQUI" class="social-button social-google-plus" alt="Compartilhar via Google+"><i class="fa fa-google-plus"></i>Google+</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=URL-AQUI&title=TITLE-AQUI&summary=&source=" class="social-button social-linkedin" alt="Compartilhar via Linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
    <a href="https://pinterest.com/pin/create/button/?url=IMAGEM-AQUI&media=URL-AQUI&description=DESC-AQUI" class="social-button social-pinterest" alt="Compartilhar via Pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
    <a href="" class="social-button social-rss" alt="RSS"><i class="fa fa-rss"></i>RSS</a>
</div>
