{% extends 'layout.html.twig' %}
{% block content %}
<h1 class="styleguide-title styleguide-title-page">{{ container.module }}</h1>
<!-- Module -->
{% for form in  forms %}
<h2 class="styleguide-title-module">{{ form.title }}</h2>
<p>{{ form.subtitle }}</p>
<!-- code -->
<div class='styleguide-demo'>
{% include form.sourceCode %}
</div>
<pre class="styleguide-code"><code data-language="html"></code></pre>
{% endfor %}
{% endblock %}
