/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  Colors
        ========================================================================== */
        $color1: #1972d1;   //blue
        $color2: #262626;   //darkGray
        $color3: #999;      //mediumGray
        $color4: #eee;      //lightGray