<nav aria-label="main navigation" role="navigation" class="navbar">
    <ul class="nav-menu" role="menubar">
        <li class="menu-item"><a href="#">Lorem ipsum</a></li>
        <li class="menu-item"><a href="#">Consectetur</a></li>
        <li class="menu-item"><a href="#">Veritatis</a></li>
        <li class="menu-item current"><a href="#">Esse eos ea adipisci</a></li>
        <li class="menu-item"><a href="#">Esse eos ea adipisci</a></li>
        <li class="menu-item"><a href="#">Consectetur</a></li>
        <li class="menu-item"><a href="#">Consectetur</a></li>
        <li class="menu-item"><a href="#">Veritatis</a></li>
        <li class="menu-item"><a href="#">Officia nesciunt</a></li>
    </ul>
    <ul class="nav-more" role="menubar"></ul>                        
</nav>

<script>

    // Descktop Scripts
    (function(){
        'use strict';

        // Vars
        var app = {
            navbar:       $('.navbar'),
            navmenu:      $('.nav-menu'),
            navmore:      $('.nav-more'),
            breaks:       []
        };

        // Default scripts
        var initialConfig = {

            // Start functions
            init: function(){
                var self = this;
                self.updateNav();
                self.resizePage();
                self.clickNav();
            },

            // Update navbar
            updateNav: function(){

                var getWidthPage = window.innerWidth;

                if ( getWidthPage ) {

                    var availableSpace = app.navbar.width();

                    // The visible list is overflowing the nav
                    if (app.navmenu.width() > availableSpace) {

                        // Record the width of the list
                        app.breaks.push(app.navmenu.width());

                        // Move item to the hidden list
                        app.navmenu.children().last().prependTo(app.navmore);

                        // Show the dropdown btn
                        /*if (app.navbar.hasClass('greedy-hide')) {
                            app.navbar.removeClass('greedy-hide');
                        }*/
                        app.navbar.addClass('greedy-show');

                    // The visible list is not overflowing
                    } else {

                        // There is space for another item in the nav
                        if (availableSpace > app.breaks[app.breaks.length - 1]) {
                            // Move the item to the visible list
                            app.navmore.children().first().appendTo(app.navmenu);
                            app.breaks.pop();
                        }

                        // Hide the dropdown btn if hidden list is empty
                        if (app.breaks.length < 1) {
                            app.navbar.removeClass('greedy-show');
                        }
                    }

                    // Recur if the visible list is still overflowing the nav
                    if (app.navmenu.width() > availableSpace) {
                        initialConfig.updateNav();
                    }
                }

            },

            // Click navbar
            clickNav: function(){
                app.navbar.after().click(function(){
                    app.navbar.toggleClass('nav-more-show');
                });
            },

            // Resize page
            resizePage: function(){

                $(window).bind('resize', function () { 
                    if ( !getWidthPage ) {
                        initialConfig.updateNav();
                    } else {
                        app.navmore.children().appendTo(app.navmenu);
                        app.breaks.pop();
                        app.navbar.addClass('greedy-hide');
                    }

                    var getWidthPage = window.innerWidth;
                });
            },
        };

        // Start
        initialConfig.init();
    })();
    
    // Mobile Scripts
    (function(){
        'use strict';

        // Config
        var app = {
            body:       document.querySelector('body'), 
            callMenu:   document.querySelector('.nav-menu')
        };

        // Initial scripts
        var initialConfig = {

            // Start functions
            init: function(){
                var self = this;
                self.clickMenu();
                self.fixNavMenu();
            },

            // Show Menu
            showMenu: function(){
                app.body.classList.toggle('nav-menu-open');

                if ( this.children[0].classList.contains('fa-bars') ){
                    this.children[0].classList.remove('fa-bars');
                    this.children[0].classList.toggle('fa-arrow-right');
                }else if( this.children[0].classList.contains('fa-arrow-right') ){
                    this.children[0].classList.remove('fa-arrow-right');
                    this.children[0].classList.toggle('fa-bars');
                }
            },

            // Click Menu
            clickMenu: function(){
                app.callMenu.addEventListener('click', initialConfig.showMenu );
            },

            // Fix nav menu
            fixNavMenu: function() {
                //window.onscroll = function() {
                window.addEventListener('scroll', function() {
                    var limit    = app.body.offsetHeight,
                        distance = this.scrollY;

                    if(distance >= limit) {
                        app.lpNav.classList.add('fixed');
                    } else {
                        app.lpNav.classList.remove('fixed');
                    }
                });
            }
        };

        // Start
        initialConfig.init();

    })();

</script>