<div class="row">

    <!-- Buttons -->
    <div class="sg-buttons col-4">

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Primary</h4>

            <a href="#" class="btn btn-primary btn-large">Grande</a>
            <a href="#" class="btn btn-primary">Normal</a>
            <a href="#" class="btn btn-primary btn-small">Pequeno</a>
            <a href="#" class="btn btn-primary btn-mini">Muito pequeno</a>
        </div>

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Warning</h4>

            <a href="#" class="btn btn-warning btn-large">Grande</a>
            <a href="#" class="btn btn-warning">Normal</a>
            <a href="#" class="btn btn-warning btn-small">Pequeno</a>
            <a href="#" class="btn btn-warning btn-mini">Muito pequeno</a>
        </div>

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Cinza</h4>

            <a href="#" class="btn btn-gray btn-large">Grande</a>
            <a href="#" class="btn btn-gray">Normal</a>
            <a href="#" class="btn btn-gray btn-small">Pequeno</a>
            <a href="#" class="btn btn-gray btn-mini">Muito pequeno</a>
        </div>
    </div>
    <div class="sg-buttons col-8 last">

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Tipos</h4>

            <a href="#" class="btn btn-primary btn-large btn-border">Botão Grande</a>
            <a href="#" class="btn btn-primary btn-large">Botão Preenchido</a>
            <a href="#" class="btn btn-primary btn-large btn-round">Botão Arredondado</a>
            <a href="#" class="btn btn-primary btn-large btn-single">Botão Padrão</a>
        </div>

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Cores</h4>

            <a href="#" class="btn btn-primary">Principal</a>
            <a href="#" class="btn btn-secondary">Secundário</a>
            <a href="#" class="btn btn-danger">Alerta</a>
            <a href="#" class="btn btn-warning">Alerta</a>
            <a href="#" class="btn btn-success">Sucesso</a>
            <a href="#" class="btn btn-inactive">Inativo</a>
        </div>

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Ação</h4>

            <a href="#" class="btn btn-success">
                Sucesso
                <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </a>
        </div>

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Ícones</h4>

            <a href="#" class="btn btn-danger">Foto <i class="fa fa-camera"></i></a>
            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
            <a class="btn btn-secondary" href="#"><i class="fa fa-cog"></i> Configurações</a>
            <a class="btn btn-inactive" href="#"><i class="fa fa-ban"></i> Desabilitado</a>
        </div>
    </div>

</div>
