<div class="row">

    <!-- Buttons -->
    <div class="sg-buttons col-4">

        <!-- SG Example -->
        <snack-example title="Primary" desc="" lang="html">
            <a href="#" class="btn btn-primary btn-large">Grande</a>
            <a href="#" class="btn btn-primary">Normal</a>
            <a href="#" class="btn btn-primary btn-small">Pequeno</a>
            <a href="#" class="btn btn-primary btn-mini">Muito pequeno</a>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Warning" desc="" lang="html">
            <a href="#" class="btn btn-warning btn-large">Grande</a>
            <a href="#" class="btn btn-warning">Normal</a>
            <a href="#" class="btn btn-warning btn-small">Pequeno</a>
            <a href="#" class="btn btn-warning btn-mini">Muito pequeno</a>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Cinza" desc="" lang="html">
            <a href="#" class="btn btn-gray btn-large">Grande</a>
            <a href="#" class="btn btn-gray">Normal</a>
            <a href="#" class="btn btn-gray btn-small">Pequeno</a>
            <a href="#" class="btn btn-gray btn-mini">Muito pequeno</a>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Social Share Ícons" desc="" lang="html">
        <div class="social-share">
            <a class="btn social-facebook" href="https://www.facebook.com/sharer/sharer.php?u=URL-AQUI" alt="Compartilhar via Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a class="btn social-twitter" href="https://twitter.com/home?status=URL-AQUI" alt="Compartilhar via Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a class="btn social-google-plus" href="https://plus.google.com/share?url=URL-AQUI" alt="Compartilhar via Google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
            <a class="btn social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=URL-AQUI&title=TITLE-AQUI&summary=&source=" lt="Compartilhar via Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a class="btn social-pinterest" href="https://pinterest.com/pin/create/button/?url=IMAGEM-AQUI&media=URL-AQUI&description=DESC-AQUI"  alt="Compartilhar via Pinterest"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
            <a class="btn social-rss" href="" alt="RSS"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
        </div>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Social Share Ícons small" desc="" lang="html">
        <div class="social-share">
            <a class="btn btn-small social-facebook" href="https://www.facebook.com/sharer/sharer.php?u=URL-AQUI" alt="Compartilhar via Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a class="btn btn-small social-twitter" href="https://twitter.com/home?status=URL-AQUI" alt="Compartilhar via Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a class="btn btn-small social-google-plus" href="https://plus.google.com/share?url=URL-AQUI" alt="Compartilhar via Google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
            <a class="btn btn-small social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=URL-AQUI&title=TITLE-AQUI&summary=&source=" alt="Compartilhar via Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a class="btn btn-small social-pinterest" href="https://pinterest.com/pin/create/button/?url=IMAGEM-AQUI&media=URL-AQUI&description=DESC-AQUI"  alt="Compartilhar via Pinterest"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
            <a class="btn btn-small social-rss" href="" alt="RSS"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
        </div>
        </snack-example>
    </div>
    <div class="sg-buttons col-8 last">

        <!-- SG Example -->
        <snack-example title="Tipos" desc="" lang="html">
            <a href="#" class="btn btn-primary btn-large btn-border">Botão Grande</a>
            <a href="#" class="btn btn-primary btn-large">Botão Preenchido</a>
            <a href="#" class="btn btn-primary btn-large btn-round">Botão Arredondado</a>
            <a href="#" class="btn btn-primary btn-large btn-single">Botão Padrão</a>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Cores" desc="" lang="html">
            <a href="#" class="btn btn-primary">Principal</a>
            <a href="#" class="btn btn-secondary">Secundário</a>
            <a href="#" class="btn btn-danger">Alerta</a>
            <a href="#" class="btn btn-warning">Alerta</a>
            <a href="#" class="btn btn-success">Sucesso</a>
            <a href="#" class="btn btn-inactive">Inativo</a>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Ação" desc="" lang="html">
            <a href="#" class="btn btn-success">
                Sucesso
                <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </a>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Ícones" desc="" lang="html">
            <a href="#" class="btn btn-danger">Foto <i class="fa fa-camera"></i></a>
            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
            <a class="btn btn-secondary" href="#"><i class="fa fa-cog"></i> Configurações</a>
            <a class="btn btn-inactive" href="#"><i class="fa fa-ban"></i> Desabilitado</a>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Social Share" desc="" lang="html">
        <div class="social-share">
            <a class="btn social-facebook" href="https://www.facebook.com/sharer/sharer.php?u=URL-AQUI" alt="Compartilhar via Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a>
            <a class="btn social-twitter" href="https://twitter.com/home?status=URL-AQUI" alt="Compartilhar via Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i>Twitter</a>
            <a href="https://plus.google.com/share?url=URL-AQUI" class="btn social-google-plus" alt="Compartilhar via Google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i>Google+</a>
            <a class="btn social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=URL-AQUI&title=TITLE-AQUI&summary=&source=" lt="Compartilhar via Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a>
            <a class="btn social-pinterest" href="https://pinterest.com/pin/create/button/?url=IMAGEM-AQUI&media=URL-AQUI&description=DESC-AQUI"  alt="Compartilhar via Pinterest"><i class="fa fa-pinterest-square" aria-hidden="true"></i>Pinterest</a>
            <a class="btn social-rss" href="" alt="RSS"><i class="fa fa-rss-square" aria-hidden="true"></i>RSS</a>
        </div>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Social Share small" desc="" lang="html">
        <div class="social-share">
            <a class="btn btn-small social-facebook" href="https://www.facebook.com/sharer/sharer.php?u=URL-AQUI" alt="Compartilhar via Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a>
            <a class="btn btn-small social-twitter" href="https://twitter.com/home?status=URL-AQUI" alt="Compartilhar via Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i>Twitter</a>
            <a class="btn btn-small social-google-plus" href="https://plus.google.com/share?url=URL-AQUI" alt="Compartilhar via Google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i>Google+</a>
            <a class="btn btn-small social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=URL-AQUI&title=TITLE-AQUI&summary=&source=" alt="Compartilhar via Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a>
            <a href="https://pinterest.com/pin/create/button/?url=IMAGEM-AQUI&media=URL-AQUI&description=DESC-AQUI" class="btn btn-small social-pinterest" alt="Compartilhar via Pinterest"><i class="fa fa-pinterest-square" aria-hidden="true"></i>Pinterest</a>
            <a class="btn btn-small social-rss" href="" alt="RSS"><i class="fa fa-rss-square" aria-hidden="true"></i>RSS</a>
        </div>
        </snack-example>
    </div>

</div>
