<div class="row">

<pre class="code">
    <code data-language="html">
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #333;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #666;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #CCC;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #2ca8ff;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #ffa92c;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #1abc9c;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #e74c3c;"></span>
    </code>
</pre>

    <!-- SG Example -->
    <div class="styleguide-example">

        <!-- SG Title Item -->
        <h4 class="styleguide-title">Cores</h4>

        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #333;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #666;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #CCC;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #2ca8ff;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #ffa92c;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #1abc9c;"></span>
        <span style="display:inline-block; width: 46px; height: 46px; border-radius: 4px; background-color: #e74c3c;"></span>
    </div>

</div>
