<div class="row">

    <!-- Item -->
    <div class="sg-forms col-4">

        <!-- SG Example -->
        <snack-example title="Legend" desc="" lang="html">
        <legend class="sr-only">Formulário de Contato</legend>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Field form" desc="" lang="html">
        <span class="fields-required"><span class="required">*</span> Campos obrigatórios</span>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Label" desc="" lang="html">
        <label class="form-label" for="name">Nome <span class="required">*</span></label>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Input" desc="" lang="html">
        <input class="input" placeholder="text" type="text">
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Select" desc="" lang="html">
        <select class="select" id="select" name="select">
            <option value="-1">Escolha uma opção</option>
            <option value="Opção 1">Opção 1</option>
            <option value="Opção 2">Opção 2</option>
            <option value="Opção 3">Opção 3</option>
            <option value="Opção 4">Opção 4</option>
        </select>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Inputs (ícones)" desc="" lang="html">
        <span class="form-item-wrap">
            <input class="input" id="email" name="email" aria-required="true" placeholder="Digite seu email" type="email">
            <i class="fa fa-envelope"></i>
        </span>

        <span class="form-item-wrap">
            <select class="select" id="select" name="select">
                <option value="" selected="" disabled="">Escolha uma opção</option>
                <option value="Opção 1">Opção 1</option>
                <option value="Opção 2">Opção 2</option>
                <option value="Opção 3">Opção 3</option>
                <option value="Opção 4">Opção 4</option>
            </select>
            <i class="fa fa-th-list"></i>
        </span>

        <span class="form-item-wrap">
            <textarea class="textarea" id="textarea" name="textarea" placeholder="textarea"></textarea>
            <i class="fa fa-commenting"></i>
        </span>
        </snack-example>
    </div>

    <div class="sg-forms col-4">

        <!-- SG Example -->
        <snack-example title="Textarea" desc="" lang="html">
        <textarea class="textarea" id="textarea" name="textarea" placeholder="textarea"></textarea>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Radio" desc="" lang="html">
        <div class="radio">
            <input id="radio1" value="Opção1" name="input-radio" type="radio">
            <label class="form-label">Opção radio</label>
        </div>
        <div class="radio">
            <input id="radio2" value="Opção2" name="input-radio" type="radio">
            <label class="form-label">Opção radio</label>
        </div>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Checkbox" desc="" lang="html">
        <div class="checkbox">
            <input id="checkbox1" value="Opção1" type="checkbox">
            <label class="form-label">Opção checkbox</label>
        </div>
        <div class="checkbox">
            <input id="checkbox2" value="Opção2" type="checkbox">
            <label class="form-label">Opção checkbox</label>
        </div>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Inputs (ações)" desc="" lang="html">
        <span class="form-item-wrap">
            <input class="input success" type="text" name="" value="Sucesso">
            <i class="fa fa-check"></i>
        </span>

        <span class="form-item-wrap">
            <input class="input danger" type="email" name="" value="Erro">
            <i class="fa fa-warning"></i>
        </span>

        <span class="form-item-wrap">
            <input class="input warning" type="email" name="" value="Atenção">
            <i class="fa fa-warning"></i>
        </span>

        <span class="form-item-wrap">
            <select class="select danger" id="select" name="select">
                <option value="-1">Erro</option>
                <option value="Opção 1">Opção 1</option>
                <option value="Opção 2">Opção 2</option>
            </select>
            <i class="fa fa-check"></i>
        </span>

        <span class="form-item-wrap">
            <textarea class="textarea success" id="textarea" name="textarea" placeholder="textarea">Sucesso</textarea>
            <i class="fa fa-check"></i>
        </span>
        </snack-example>
    </div>

    <!-- Item -->
    <div class="sg-forms col-4 last">

        <!-- SG Example -->
        <snack-example title="Formulário simples" desc="" lang="html">
            <!-- Form -->
            <form class="form" action="" role="form">
                <fieldset>
                    <legend class="sr-only">Formulário de Contato</legend>
                    <span class="fields-required"><span class="required">*</span> Campos obrigatórios</span>

                    <label class="form-label" for="name">Nome <span class="required">*</span></label>
                    <input class="input" id="name" name="name" aria-required="true" placeholder="Digite seu nome" type="text">

                    <label class="form-label" for="email">Email <span class="required">*</span></label>
                    <input class="input" id="email" name="email" aria-required="true" placeholder="Digite seu email" type="email">

                    <label class="form-label" for="email">Assunto <span class="required">*</span></label>
                    <select class="select" id="select" name="select">
                        <option value="" selected="" disabled="">Escolha uma opção</option>
                        <option value="Opção 1">Opção 1</option>
                        <option value="Opção 2">Opção 2</option>
                        <option value="Opção 3">Opção 3</option>
                        <option value="Opção 4">Opção 4</option>
                    </select>

                    <label class="form-label" for="email">Mensagem <span class="required">*</span></label>
                    <textarea class="textarea" id="textarea" name="textarea" placeholder="textarea"></textarea>

                    <input class="btn btn-primary" value="Enviar" type="submit">
                </fieldset>
            </form>
        </snack-example>

        <!-- SG Example -->
        <snack-example title="Mensagens de alerta" desc="" lang="html">
            <span class="alert-danger"><b>Aviso:</b> Este é um alerta de erro ou perigo</span>
            <span class="alert-warning"><b>Aviso:</b> Este é um alerta de cautela</span>
            <span class="alert-success"><b>Aviso:</b> Este é um alerta de sucesso</span>
            <span class="alert-info"><b>Aviso:</b> Este é um alerta de informação</span>
        </snack-example>
    </div>
</div>
