<div class="row">

    <!-- SG Example -->
    <div class="styleguide-example">

        <!-- SG Title Item -->
        <h4 class="styleguide-title">Navbar</h4>

        <!-- Navbar -->
        <nav class="navbar navbar-full" aria-label="main navigation" role="navigation">

            <!-- Navbar hold -->
            <div class="navbar-hold">

                <!-- Navbar Brand -->
                <div class="navbar-brand">
                    <a href="#"><img src="/build/img/brand.png" alt=""></a>
                </div>

                <!-- Navbar menu -->
                <ul class="navbar-menu" role="menubar">
                    <li class="menu-item"><a href="#">Section 01</a></li>
                    <li class="menu-item"><a href="#">Section 02</a></li>
                    <li class="menu-item current"><a href="#">Section 04</a></li>
                    <li class="menu-item"><a href="#">Section 05</a></li>
                </ul>

                <!-- Navbar Form -->
                <form class="navbar-form form form-search" role="search">
                    <fieldset>
                        <legend class="sr-only">Formulário de Busca</legend>
                        <input class="input" id="busca" name="busca" aria-required="true" placeholder="Digite sua pesquisa" type="text">
                        <button type="submit" class="btn btn-white"><i class="fa fa-search"></i>Buscar</button>
                    </fieldset>
                </form>

                <!-- Navbar Buttons -->
                <div class="navbar-buttons">
                    <a href="#" class="btn btn-primary">Call to Action</a>
                </div>

            </div>
        </nav>
    </div>
</div>
