<div class="row full">

    <!-- Headings -->
    <div class="sg-headings col-6">

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Títulos</h4>

            <h1>h1. Um header show de bola</h1>
            <h2>h2. Um header show de bola</h2>
            <h3>h3. Um header show de bola</h3>
            <h4>h4. Um header show de bola</h4>
            <h5>h5. Um header show de bola</h5>
            <h6>h6. Um header show de bola</h6>
        </div>

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Paragrafo</h4>

            <p>Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis, vehicula ac nisi. Delegadis gente finis, bibendum egestas augue arcu ut est. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose</p>
        </div>
    </div>
    <div class="sg-headings col-6 last">

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Subtítulos</h4>

            <h1>h1. Um header show de bola</h1>
            <h2>h2. Um header show de bola</h2>
            <h3>h3. Um header show de bola</h3>
            <h4>h4. Um header show de bola</h4>
            <h5>h5. Um header show de bola</h5>
            <h6>h6. Um header show de bola</h6>
        </div>

        <!-- SG Example -->
        <div class="styleguide-example">

            <!-- SG Title Item -->
            <h4 class="styleguide-title">Blockquote</h4>
            <blockquote>
                <p>"Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens com humor, ou palavras aleatórias que não parecem nem um pouco convincentes"</p>
            </blockquote>
        </div>
    </div>
</div>