<div class="radio">
    <input id="radio1" value="Opção1" name="input-radio" type="radio">
    <label class="form-label">Opção 1</label>
</div>
<div class="radio">
    <input id="radio2" value="Opção2" name="input-radio" type="radio">
    <label class="form-label">Opção 2</label>
</div>
