<div class="checkbox">
    <input id="checkbox1" value="Opção1" type="checkbox">
    <label class="form-label">Opção 1</label>
</div>
<div class="checkbox">
    <input id="checkbox2" value="Opção2" type="checkbox">
    <label class="form-label">Opção 2</label>
</div>
