<form class="form" action="" role="form">
    <fieldset>
        <legend class="sr-only">Formulário de Contato</legend>
        <span class="fields-required"><span class="required">*</span> Campos obrigatórios</span>

        <label class="form-label" for="name">Nome <span class="required">*</span></label>
        <input class="input" id="name" name="name" aria-required="true" placeholder="Digite seu nome" type="text">

        <label class="form-label" for="email">Email <span class="required">*</span></label>
        <input class="input" id="email" name="email" aria-required="true" placeholder="Digite seu email" type="email">

        <label class="form-label" for="email">Assunto <span class="required">*</span></label>
        <select class="select" id="select" name="select">
            <option value="" selected disabled>Escolha uma opção</option>
            <option value="Opção 1">Opção 1</option>
            <option value="Opção 2">Opção 2</option>
            <option value="Opção 3">Opção 3</option>
            <option value="Opção 4">Opção 4</option>
        </select>

        <label class="form-label" for="email">Mensagem <span class="required">*</span></label>
        <textarea class="textarea" id="textarea" name="textarea" placeholder="textarea"></textarea>

        <input type="submit" class="btn" value="Enviar">
    </fieldset>
</form>
