.spriteTeste-glyphicons_043_group {
  background-image: url(/spriteTeste.png);
  width: 35px;
  height: 22px;
  background-position: -0px -180px;
}
.spriteTeste-icon-parques-tecnologicos {
  background-image: url(/spriteTeste.png);
  width: 29px;
  height: 31px;
  background-position: -0px -327px;
}
.spriteTeste-icon-instituicoes-ped {
  background-image: url(/spriteTeste.png);
  width: 12px;
  height: 12px;
  background-position: -0px -0px;
}
.spriteTeste-icon-senac {
  background-image: url(/spriteTeste.png);
  width: 18px;
  height: 16px;
  background-position: -0px -164px;
}
.spriteTeste-glyphicons_049_star {
  background-image: url(/spriteTeste.png);
  width: 25px;
  height: 24px;
  background-position: -0px -225px;
}
.spriteTeste-icon-escolas-tecnicas {
  background-image: url(/spriteTeste.png);
  width: 12px;
  height: 12px;
  background-position: -0px -24px;
}
.spriteTeste-icon-unesp {
  background-image: url(/spriteTeste.png);
  width: 18px;
  height: 16px;
  background-position: -0px -68px;
}
.spriteTeste-icon-unicamp {
  background-image: url(/spriteTeste.png);
  width: 18px;
  height: 16px;
  background-position: -0px -52px;
}
.spriteTeste-glyphicons_081_refresh {
  background-image: url(/spriteTeste.png);
  width: 25px;
  height: 26px;
  background-position: -0px -273px;
}
.spriteTeste-icon-senat {
  background-image: url(/spriteTeste.png);
  width: 18px;
  height: 16px;
  background-position: -0px -132px;
}
.spriteTeste-icon-usp {
  background-image: url(/spriteTeste.png);
  width: 18px;
  height: 16px;
  background-position: -0px -100px;
}
.spriteTeste-glyphicons_050_link {
  background-image: url(/spriteTeste.png);
  width: 21px;
  height: 23px;
  background-position: -0px -202px;
}
.spriteTeste-icon-universidade-federais {
  background-image: url(/spriteTeste.png);
  width: 18px;
  height: 16px;
  background-position: -0px -36px;
}
.spriteTeste-glyphicons_079_signal {
  background-image: url(/spriteTeste.png);
  width: 24px;
  height: 24px;
  background-position: -0px -249px;
}
.spriteTeste-glyphicons_120_message_full {
  background-image: url(/spriteTeste.png);
  width: 24px;
  height: 28px;
  background-position: -0px -299px;
}
.spriteTeste-icon-universidades-municipais {
  background-image: url(/spriteTeste.png);
  width: 18px;
  height: 16px;
  background-position: -0px -116px;
}
.spriteTeste-icon-airport {
  background-image: url(/spriteTeste.png);
  width: 18px;
  height: 16px;
  background-position: -0px -84px;
}
.spriteTeste-icon-escolas-fatec {
  background-image: url(/spriteTeste.png);
  width: 12px;
  height: 12px;
  background-position: -0px -12px;
}
.spriteTeste-icon-senai {
  background-image: url(/spriteTeste.png);
  width: 18px;
  height: 16px;
  background-position: -0px -148px;
}
.sprite-glyphicons_043_group {
  background-image: url(/sprite.png);
  width: 35px;
  height: 22px;
  background-position: -0px -180px;
}
.sprite-icon-parques-tecnologicos {
  background-image: url(/sprite.png);
  width: 29px;
  height: 31px;
  background-position: -0px -327px;
}
.sprite-icon-instituicoes-ped {
  background-image: url(/sprite.png);
  width: 12px;
  height: 12px;
  background-position: -0px -0px;
}
.sprite-icon-senac {
  background-image: url(/sprite.png);
  width: 18px;
  height: 16px;
  background-position: -0px -164px;
}
.sprite-glyphicons_049_star {
  background-image: url(/sprite.png);
  width: 25px;
  height: 24px;
  background-position: -0px -225px;
}
.sprite-icon-escolas-tecnicas {
  background-image: url(/sprite.png);
  width: 12px;
  height: 12px;
  background-position: -0px -24px;
}
.sprite-icon-unesp {
  background-image: url(/sprite.png);
  width: 18px;
  height: 16px;
  background-position: -0px -68px;
}
.sprite-icon-unicamp {
  background-image: url(/sprite.png);
  width: 18px;
  height: 16px;
  background-position: -0px -52px;
}
.sprite-glyphicons_081_refresh {
  background-image: url(/sprite.png);
  width: 25px;
  height: 26px;
  background-position: -0px -273px;
}
.sprite-icon-senat {
  background-image: url(/sprite.png);
  width: 18px;
  height: 16px;
  background-position: -0px -132px;
}
.sprite-icon-usp {
  background-image: url(/sprite.png);
  width: 18px;
  height: 16px;
  background-position: -0px -100px;
}
.sprite-glyphicons_050_link {
  background-image: url(/sprite.png);
  width: 21px;
  height: 23px;
  background-position: -0px -202px;
}
.sprite-icon-universidade-federais {
  background-image: url(/sprite.png);
  width: 18px;
  height: 16px;
  background-position: -0px -36px;
}
.sprite-glyphicons_079_signal {
  background-image: url(/sprite.png);
  width: 24px;
  height: 24px;
  background-position: -0px -249px;
}
.sprite-glyphicons_120_message_full {
  background-image: url(/sprite.png);
  width: 24px;
  height: 28px;
  background-position: -0px -299px;
}
.sprite-icon-universidades-municipais {
  background-image: url(/sprite.png);
  width: 18px;
  height: 16px;
  background-position: -0px -116px;
}
.sprite-icon-airport {
  background-image: url(/sprite.png);
  width: 18px;
  height: 16px;
  background-position: -0px -84px;
}
.sprite-icon-escolas-fatec {
  background-image: url(/sprite.png);
  width: 12px;
  height: 12px;
  background-position: -0px -12px;
}
.sprite-icon-senai {
  background-image: url(/sprite.png);
  width: 18px;
  height: 16px;
  background-position: -0px -148px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -ms-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
}